.realisation .card-img-top {
    width:auto;
    max-height:200px;
    margin:20px auto 0;
}

.realisation .btn-group {
    display:block;
    text-align:center;
}

.realisation .btn {
    background: cadetblue;
    border-color: cadetblue;
    color:#FFF;
}