.card{
    color:black;
    margin:2em 4em;
    font-size:1em;
    border:0;
    opacity: 0.8;
}
.row.tableaux{
    background:rgba(95, 158, 160, 0.692);
    padding:1em 1em;
}
.row.tableaux img{
    height:192px;
}

