.card{
    color:black;
    margin:2em 4em;
    font-size:1vw;
    border:0;
    opacity: 0.9;
}
footer{
    background-color: teal;
    font-size:1vw;
    width:100%;
    height:auto;
}
.page-title{
    margin: 2em;
}
.page-title span{
    background:cadetblue;
    font-size:30px;
}


