*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
}
html{
  height:100%;
}
body{
  height:100%;
  background:url('../img/parallax1.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  background-attachment:fixed;
  background-position:top center;
}
header{
  background-color:#FFF;
}
.navbar{
  box-shadow: 0px 1px 15px black;
  padding:0.5em 5em;
}
.navbar-expand-md .navbar-nav .nav-link{
  padding:0 12px !important;
  color:#03989E;
  font-weight: bold;
}
.logo{
    height:3.5em;
    margin:0;
    padding:0;
}
.img-circle{
  display:flex;
  align-content: flex-end;
}
.index-title h1{
  padding:2em 0.5em;
}
.index-title span,
.page-title span {
  color:#FFF;
  background:cadetblue;
  font-size:30px;
  font-weight:bold;
}
.row2,
.row3{
  margin-bottom:20px;
  color:#333;
}

.row2 .card,
.row3 .card {
  height:auto;
  opacity:0.9;
}
.row2 .card i{
  font-size:20px !important;
  margin-right:5px;
}
.row3 .card i{
  font-size:35px !important;
  display:block;
}
.row2 .card .card-title{
  padding:20px 0 0 0;
}

.logojaune{
  height:2em;
  position:relative;
  top:-3px;
  margin-right:4px;
}
footer{
  background:rgba(95, 158, 160, 0.9);
  color:#FFF;
  margin-top:40px;
  padding-bottom:20px;
}
footer dl,
footer dt,
footer dd,
footer dd ul,
footer dd ul li{
  margin:0;
  padding:0;
}
footer dl{
  padding:0 30px;
}
footer dt{
  padding:20px 0;
  font-weight:bold;
  font-size:18px;
}
footer dd{
  text-align:justify;
}
footer dd ul{
  list-style:none;
}
footer dd ul li{
  margin-bottom:12px;
}
footer dd ul li:last-child{
  margin-bottom:0;
}
footer dd ul li a:hover,
footer dd ul li a:focus{
  color:#333;
}
