*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
}
html{
  height:100%;
}
body{
  height:100%;
  background-image:url('../img/parallax1.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  background-attachment:fixed;
  background-position:top center;
}
header{
  background-color:#FFF;
}
.navbar{
  box-shadow: 0px 1px 15px black;
  padding:0.5em 5em;
}
.navbar-expand-md .navbar-nav .nav-link{
  padding:0 12px !important;
  color:#03989E;
  font-weight: bold;
}
.logo{
    height:3.5em;
    margin:0;
    padding:0;
}
.index-title h1{
  padding:3em 2em;
}
.index-title span,
.page-title span {
  color:#FFF;
  background:cadetblue;
  font-size:30px;
  font-weight:bold;
}
.row1,
.row2{
  margin-bottom:20px;
  color:#333;
  padding: 0em 5em 3em 5em;
}

.row1 .card,
.row2 .card {
  height:auto;
  opacity:0.9;
}
.row1 .card i{
  font-size:20px !important;
  margin-right:5px;
}
.row2 .card i{
  font-size:35px !important;
  display:block;
}
.row1 .card .card-title{
  padding:20px 0 0 0;
}
h5{
  font-weight: bolder;
  color:#03989E;
  font-size: 2em;
}
.logojaune{
  height:2em;
  position:relative;
  top:-3px;
  margin-right:4px;
}
footer{
  background:cadetblue;
  color:#FFF;
  margin-top:40px;
  padding-bottom:20px;
  padding-left: 5em;
  padding-right: 5em;
}
footer dl,
footer dt,
footer dd,
footer dd ul,
footer dd ul li{
  margin:0;
  padding:0;
}
footer dl{
  padding:0 40px;
}
footer dt{
  padding:20px 0;
  font-weight:bold;
  font-size:18px;
}
footer dd{
  text-align:justify;
}
footer dd ul{
  list-style:none;
}
footer dd ul li{
  margin-bottom:12px;
}
footer dd ul li:last-child{
  margin-bottom:0;
}
footer dd ul li a:hover,
footer dd ul li a:focus{
  color:#333;
}
/*
h1.page-title{
  text-align:center;
}
h1.page-title span{
  background:cadetblue;
  color:#FFF;
  font-weight:bold;
}

 @media screen and (max-width: 800px) {
  body{
    background-size:auto 100%;
  }

  .index-title h1{
    padding:20px 0;
  }
  .index-title span {
    font-size:24px;
  }

  .row1 .col-md-4,
  .row2 .col-md-4{
    margin-bottom:20px;
  } */